@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden; /* Prevent horizontal scrolling on the body */
}

.min-h-screen {
  min-height: 5vh;
}
.mt-16 {
  margin-top: 2rem;
}

/* Tabs.css */

